body {
    background-color: black;
    color: white;
    background-image: url("../img/bg.png");
    background-size: 75%;
    background-image: linear-gradient( to left, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 1) 45%), url("../img/bg.png");
    background-repeat: repeat-y;
    background-position-x: 125%;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10vh;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.dflex {
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 4em;
    white-space: nowrap;
}

header h3 {
    margin: 0;
    font-size: 2em;
    white-space: nowrap;
}

#favicon {
    height: 8em;
    margin-right: 0.5em;
}

#title-container {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}

#image-header {
    width: 50%;
}

.button {
    -webkit-text-fill-color: initial;
    cursor: pointer;
    border-radius: 10px 3px 10px 3px;
    position: relative;
    padding: 0.5em;
    width: 25vw;
    height: min-content;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: white;
    transition: all 1s;
    margin: 1em;
    margin-left: 3em;
}

.button::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    content: '';
    z-index: -1;
    border-radius: 10px 3px 10px 3px;
    background-position: 58% 50%;
    background-size: 500%;
    animation: color-background-loop 20s ease infinite alternate;
    background-image: linear-gradient(45deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
}

.button:hover {
    background-color: rgba(00, 00, 00, 00);
    color: black;
    margin-left: 4.5em;
}

.button:active {
    background-color: black;
    margin-left: 1em;
    color: white;
}

.button-active {
    cursor: pointer;
    border-radius: 10px 3px 10px 3px;
    position: relative;
    padding: 0.5em;
    width: 25vw;
    height: min-content;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: white;
    transition: all 1s;
    margin: 1em;
    margin-left: 1em;
}

.button-active::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    content: '';
    z-index: -1;
    border-radius: 10px 3px 10px 3px;
    background-position: 58% 50%;
    background-size: 500%;
    transition: all 1s;
    animation: color-background-loop 20s ease infinite alternate;
    background-image: linear-gradient(90deg, rgba(7, 0, 134, 1) 5%, rgba(0, 212, 255, 1) 100%);
}

.button-active:hover {
    background-color: rgba(00, 00, 00, 00);
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 2em;
        white-space: nowrap;
    }
    header h3 {
        font-size: 1.25em;
        white-space: nowrap;
    }
    .button {
        width: 100%;
        font-size: .75em;
    }
}

.color {
    background-image: linear-gradient(264.51deg, rgb(255, 229, 128) 4.38vw, rgb(255, 117, 113) 11.51vw, rgb(255, 114, 112) 25.06vw, rgb(234, 93, 173) 36.04vw, rgb(194, 160, 253) 47.63vw, rgb(152, 103, 240) 59.03vw, rgb(59, 240, 228) 69.96vw, rgb(51, 206, 67) 83.74vw, rgb(178, 244, 182) 95.62vw);
    animation: color-background-loop 20s ease infinite alternate;
    -webkit-text-fill-color: transparent;
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
}

@keyframes color-background-loop {
    0% {
        background-position: 58% 50%;
    }
    25% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 10% 50%;
    }
    to {
        background-position: 58% 50%;
    }
}