body {
    background-color: black;
    color: white;}

header {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10em;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.dflex {
    display: flex;
    justify-content: center;
}

header h1 {
    font-family: "ProductSansBold", sans-serif;
    margin: 0;
    font-size: 4em;
}

header h3 {
    font-family: "ProductSansBold", sans-serif;
    margin: 0;
    font-size: 2em;}

#favicon {
    height: 8em;
    margin-right: 0.5em;
}

#title-container {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#image-header {
    width: 50%;
}

header .button {
    cursor: pointer;
    border-radius: 10px 3px 10px 3px;
    width: 25vw;
    height: 30px;
    justify-content: center;
    background-color: black;
    border-style: solid;
    text-align: center;
    font-family: ProductSansRegular;
    color: white;
    transition: all 1s;
    margin: 1em;
}

header .button:hover {
    background-color: white;
    color: black;
    border-color: white;    
    margin-left: 2.5em;
}
header .button:active > #favicon {
    transition: all 0.25s;
    background-color: black;
    color: white;
    border-color: blue;    
    margin-left: -1em;
}