#page {
    width: 100%;
    height: 100%;
    padding-top: 0;
}

body {
    background-color: black;
    color: white;
}

#title {
    margin: 0;
    font-family: ProductSansBold;
}

#title-position {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    padding-left: 5em;
}

#subtitle {
    font-family: ProductSansRegular;
    margin-top: 0px;
    width: fit-content;
}

#title-logo {
    width: 50%;
    height: 15em;
    position: relative;
}

header {
    width: 100%;
    height: auto;
    padding: 1em;
}
header img {
    height: 100px;
    width: auto;
    position: relative;
    right: 0;
}