@font-face {
    font-family: ProductSansRegular;
    src: url("../font/ProductSansRegular.ttf");
}

@font-face {
    font-family: ProductSansBold;
    src: url("../font/ProductSansBold.ttf");
}
body {
    font-family: ProductSansRegular;
}
h1, h2, h3, h4, h5, h6 {
    font-family: ProductSansBold;
}